.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
  text-align: center;
  .error-page__link {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--color-primary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
