.message {
  font-size: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color-secondary);

  visibility: hidden;
  transition: visibility 0.2s ease-in-out;

  &--visible {
    visibility: visible;
    transition: visibility 0.2s ease-in-out;
  }

  &--error {
    color: var(--color-red);
    border: 1px solid var(--color-red);
  }

  &--success {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}
