@import '../styles/variables';

.streamer-card {
  --image-size: 256px;
  --text-size: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-secondary);

  & &__image {
    line-height: 0;

    width: var(--image-size);
    height: var(--image-size);
    border-radius: 0.5rem;
    object-fit: cover;
  }

  & &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: var(--image-size);
  }

  & &__name {
    font-size: calc(var(--text-size) * 1.5);
    font-weight: bold;
  }

  & &__text {
    font-size: var(--text-size);
  }

  & &__label {
    font-size: calc(var(--text-size) * 0.8);
    color: var(--color-primary);
    font-style: italic;
    font-weight: bold;
  }

  @media screen and (max-width: $screen-mobile-s) {
    --image-size: 200px;
    --text-size: 0.8rem;
  }
}
